@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  color-scheme: only light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

@media (forced-colors: active) {
  :root {
    color-scheme: light;
  }
}

/* ^ these above are needed because chrome on android is an aggressive smartass and inverts SOME colors even when it SHOULDNT */

body {
  @apply text-neutral-300 bg-neutral-900 text-center font-serif select-none overflow-hidden overflow-y-scroll;
}

p {
  @apply text-left my-2;
}

img#background {
  @apply fixed z-[-10] w-screen h-screen blur-3xl opacity-30;
}

a,
button {
  @apply cursor-pointer;
}

a {
  @apply underline;
}

table {
  @apply mx-auto mt-4 table-fixed border-separate border-spacing-[4px] md:border-spacing-[8px] w-full md:w-auto;
}

table td {
  @apply w-1/7 md:w-[80px] lg:w-[110px] relative;
}

table tbody td {
  @apply h-[80px] lg:h-[110px] rounded-md relative overflow-visible transition-all;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

table tbody td::-webkit-scrollbar {
  display: none;
}

td.missing {
  @apply cursor-wait;
}

td.future {
  @apply cursor-wait opacity-50;
  filter: brightness(50%) grayscale(50%) blur(2px);
}

td.closed {
  @apply brightness-80;
}

td.opened {
  @apply brightness-100;
}

div.today {
  @apply absolute -top-1 -bottom-1 -left-1 -right-1 rounded-xl border-2 border-yellow-400 pointer-events-none shadow-sm shadow-yellow-400;
}

table tbody td span {
  @apply absolute text-neutral-800 font-bold text-nowrap bottom-0 left-[50%] translate-x-[-50%];
}

@keyframes turnOver {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

div.emoji {
  animation: turnOver 2s ease-in-out infinite;
}

td div.img {
  @apply absolute top-1 left-1 right-1 bottom-6 object-fill truncate rounded-md bg-cover opacity-50 transition-all duration-[1s] blur-[1px] bg-center;
}

button.action,
a.action {
  @apply absolute top-0 left-0 right-0 bottom-0 opacity-0;
}

td.cell-intro {
  @apply bg-yellow-400;
}

td.cell-red,
td.cell-red div.door-left,
td.cell-red div.door-right {
  @apply bg-red-700;
}

td.cell-green,
td.cell-green div.door-left,
td.cell-green div.door-right {
  @apply bg-lime-600;
}

td.cell-white,
td.cell-white div.door-left,
td.cell-white div.door-right {
  @apply bg-neutral-200;
}

div.door-left,
div.door-right {
  @apply absolute top-2 bottom-7 transition-all duration-[1s] rounded-md;
}

div.door-left {
  @apply left-0 right-[50%] mr-[2px];
}

td.opened div.door-left {
  @apply left-0 right-[100%];
}

div.door-right {
  @apply left-[50%] right-0 ml-[2px];
}

td.opened div.door-right {
  @apply left-[100%] right-0;
}

td.opened div.img {
  @apply opacity-100 blur-none;
}

button.close-all,
a.goback,
a.intro {
  @apply px-4 py-2 border-2 rounded-lg hover:bg-red-700 transition-all font-bold no-underline;
}

div.content p {
  @apply font-sans;
}

a.goback {
  @apply block mt-8;
}

p.footer {
  @apply text-center py-8;
}