---
import dayjs from "dayjs";
import { DATE_FORMAT, startDate, TODAY } from "../consts";

export function getStaticPaths() {
  return new Array(TODAY.diff(startDate, "day") + 2)
    .fill(0)
    .map((_, i) => dayjs(startDate).add(i, "day"))
    .map((day) => {
      return {
        params: { day: day.format(DATE_FORMAT) },
      };
    });
}

const { day } = Astro.params;
---

<h1>{day}</h1>
