---
import { getCollection } from "astro:content";
import { Calendar } from "../components/Calendar";
import "../styles/global.css";

const texts = await getCollection("dayTexts");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Visszaszamlalas 2026</title>
	</head>
	<body>
		<h1>Visszaszamlalas 2026</h1>
		<Calendar client:load />
		{texts.length}
	</body>
</html>
