---
import { getCollection } from "astro:content";
import { Calendar } from "../components/Calendar";
import "../styles/global.css";
import { CALENDAR_START, CONTENT_COLLECTION, DATE_FORMAT } from "../consts";
import dayjs from "dayjs";

const hasContentFor = (await getCollection(CONTENT_COLLECTION)).map(
  (entry) => entry.id,
);

const deployedAt = dayjs().format("YYYY-MM-DD HH:mm:ss");
const commitId = process.env.GITHUB_SHA ?? "???";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Visszaszámlálás 2026</title>
    <meta property="og:title" content="Visszaszámlálás 2026" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://visszaszamlalas2026.github.io" />
    <meta
      property="og:image"
      content="https://visszaszamlalas2026.github.io/ogimage.jpg"
    />
    <meta
      property="og:description"
      content="Visszaszámlálás 2026 - Minden napra egy Fidesz-botrány a 2026-os választásokig!"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content="https://visszaszamlalas2026.github.io/ogimage.jpg"
    />
  </head>
  <body>
    <img src="/bg.jpg" id="background" />
    <h1 class="text-5xl mt-12 mb-4 text-shadow-lg overflow-hidden">
      Visszaszámlálás 2026
    </h1>
    <blockquote class="italic text-shadow-lg mb-8">
      Napi Fidesz-botrányunkat add meg nekünk ma...
    </blockquote>
    <a class="intro" href={`${CALENDAR_START.format(DATE_FORMAT)}`}>
      Mi ez az oldal?</a
    >
    <Calendar client:load hasContentFor={hasContentFor} />
    <p class="footer">
      &copy; {dayjs().format("YYYY")} |
      <a
        href="https://github.com/visszaszamlalas2026/visszaszamlalas2026.github.io"
        >GitHub repo</a
      >
      <!-- ^ wtf is this auto-formatting lol -->
      | <a href="https://ahang.hu/">aHang</a>
      <br />
      A szövegeket írta: <a
        href="https://www.facebook.com/toth.eniko.public"
        target="_blank">Tóth Enikő</a
      >
      <br />
      <br />
      <small class="font-mono">{commitId.substring(0, 8)} @ {deployedAt}</small>
    </p>
  </body>
</html>
