---
import { getCollection } from "astro:content";
import { Calendar } from "../components/Calendar";
import "../styles/global.css";
import { CONTENT_COLLECTION } from "../consts";

const hasContentFor = (await getCollection(CONTENT_COLLECTION)).map(
	(entry) => entry.id,
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Visszaszámlálás 2026</title>
	</head>
	<body>
		<img src="/bg.jpg" id="background" />
		<h1 class="text-5xl mt-12 mb-4 text-shadow-lg overflow-hidden">
			Visszaszámlálás 2026
		</h1>
		<blockquote class="italic text-shadow-lg mb-8">
			Napi Fidesz-botrányunkat add meg nekünk ma...
		</blockquote>
		<Calendar client:load hasContentFor={hasContentFor} />
		<p>
			<a
				href="https://github.com/visszaszamlalas2026/visszaszamlalas2026.github.io"
				>GitHub repo</a
			>
			<!-- ^ wtf is this auto-formatting lol -->
		</p>
	</body>
</html>
