---
import dayjs from "dayjs";

const DATE_FORMAT = "YYYY-MM-DD HH:mm:ss";
const startDate = dayjs("2026-01-12 12:00:00", DATE_FORMAT);
const endDate = dayjs("2026-04-12 12:00:00", DATE_FORMAT);

export const arrayToArrayOfArrays = (array: any[], chunkSize: number) => {
	let result = [];
	for (let i = 0; i < array.length; i += chunkSize) {
		result.push(array.slice(i, i + chunkSize));
	}
	return result;
};

const days = new Array(endDate.diff(startDate, "day") + 1)
	.fill("")
	.map((_, i) => dayjs(startDate).add(i, "day"));

const weeks = arrayToArrayOfArrays(days, 7).reverse();

const colors = ["#d83423", "#eee", "#32a823"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Visszaszamlalas 2026</title>
	</head>
	<body>
		<h1>Visszaszamlalas 2026</h1>
		<table>
			<tbody>
				{
					weeks.map((week, wi) => (
						<tr>
							{week.reverse().map((day, di) => (
								<td
									style={`background-color: ${colors[(di + wi) % colors.length]}`}
								>
									{day.format("MM. DD.")}
								</td>
							))}
						</tr>
					))
				}
			</tbody>
		</table>
	</body>
</html>
